body{
    background-color: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.design{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    height: px;
    width: 1000px;
    margin-left: 120px;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.basic{
margin-top: 60px;
color: hsl(31, 77%, 52%);
background-color: white;
border: white;
height: 40px;
width: 130px;
font-size: 15px;
border-radius: 20px;
}
.medium{
margin-top: 30px;
color: hsl(184, 100%, 22%);
background-color: white;
border: white;
height: 40px;
width: 130px;
font-size: 15px;
border-radius: 20px;
}
.complex{
    margin-top: 55px;
    color: hsl(179, 100%, 13%);
    background-color: white;
    border: white;
    height: 40px;
    width: 130px;
    font-size: 15px;
    border-radius: 20px;
}
.basic:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: white solid;
    cursor: pointer;
}
.medium:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: white solid;
    cursor: pointer;
}
.complex:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: white solid;
    cursor: pointer;
}
@media screen and (max-width:900px){
    .design{
        display: inline-block;
        margin-top: 50px;
        justify-content: center;
        height: px;
        width: 375px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 25px;
        color: white;
        font-family: sans-serif;
}
}